<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Meu Campeonato</span>
    </a>
    <hr>
     <ul class="nav flex-column">
      <li class="nav-item" routerLink="/home" routerLinkActive="active">
        Home
      </li>
      <li class="nav-item" routerLink="/campeonato" routerLinkActive="active">
        Campeonatos
      </li>
      <li class="nav-item" routerLink="/historico" routerLinkActive="active">
        Histórico
      </li>
    </ul>
    <hr>
  </div>

  <!-- <a routerLink="/" class="nav-link" routerLinkActive="active"> -->

    <!-- </a> -->

    <!-- nav-pills flex-column mb-auto -->